@{
    ViewData["Title"] = "Como jugar";
}

<div class="text-center">
    <br />
    <div class="card">
        <hr />
        <div class="card-title">
            <h1>
                <strong>
                    Instrucciones
                </strong>
            </h1>
        </div>
        <hr />

        <div class="card-body text-justify">

            <strong>
                Tus códigos promocionales pueden ser utilizados por ti o compartidos por alguno de tus colaboradores o clientes, para hacerlo ve a la opcion "Mis Quinielas"
                desliza a la derecha si usas dispositivo móvil y encontraras estas opciones.
            </strong>
            <br />
            <br />
            <div class="text-center">
                <div id="carousel-banner-home" class="carousel carousel-banners slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src='~/img/Manuales/tablacodigo.jpg'>
                        </div>
                    </div>
                </div>
                <div id="carousel-banner-home-responsive" class="carousel carousel-banners slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src='~/img/Manuales/tablacodigomobil.jpg'>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <strong>
                Después te solicitarán unos datos muy sencillos, por favor escribelos y tu menú cambiará,
                solo sí utilizas el código promocional podrás editar tu quiniela y si no, a quién se la has enviado lo podrá hacer,
                desliza a la derecha y encontraras esta nueva opción.
            </strong>
            <br />
            <br />
            <div class="text-center">
                <div id="carousel-banner-home" class="carousel carousel-banners slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src='~/img/Manuales/editar.jpg'>
                        </div>
                    </div>
                </div>
                <div id="carousel-banner-home-responsive" class="carousel carousel-banners slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src='~/img/Manuales/editarmobil.jpg'>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div class="text-center">
                <h1>
                    <strong>
                        Reglamento
                    </strong>
                </h1>
            </div>
            <hr />
            <strong>
                Cada jugador completará los resultados en la QUINIELA en cada uno de los partidos
                de la fase de grupos de la competencia.
                <br />
                <br />

                Podrá realizar todas las modificaciones en la predicción de su resultado hasta 1 hora antes del inicio del
                mismo. Si no se completan los resultados se considerará dicho partido como nulo y no obtendrá puntos.
                <br />
                <br />

                Luego, una vez que se determinen los países que integran las siguientes fases, (Octavos de Final, Cuartos
                de Final, Semifinal, Tercer y Cuarto Puesto y Final), se ingresará al sistema y cada jugador podrá realizar su
                predicción.
                <br />
                <br />

                En los partidos que puedan llegar a tiempo de alargue o tiros desde el punto de penal (octavos de final en
                adelante), se tomará como resultado del partido el resultante luego de los 120 minutos de juego (90+30).
                <br />
                <br />

                Método de puntuación:
                <br />

                Resultado exacto: 12 puntos.
                <br />

                Acertar ganador o empate (no exacto) : 5 puntos. 
                <br />

                Acertar cantidad de goles de un equipo: 2 puntos.
                <br />
                <br />
                <br />

                Resultado hipotético: 	MEXICO 3 - ARGENTINA 1<br />

                &bull; Predicción 3 - 1 :&ensp; &ensp; 12 puntos. 	Se acertó el resultado exacto.<br />

                &bull; Predicción 2 - 0 :&ensp; &ensp; 5 puntos. 	Se acertó ganador pero ninguno de los goles de equipo.<br />

                &bull; Predicción 3 - 0 :&ensp; &ensp; 7 puntos. 	Se acertó ganador y goles de un equipo.<br />

                &bull; Predicción 2 - 1 :&ensp; &ensp; 7 puntos. 	Se acertó ganador y goles de un equipo.<br />

                &bull; Predicción 0 - 1 :&ensp; &ensp; 2 puntos. 	No se acertó ganador pero si la cantidad de goles de uno de los equipos.<br />

                &bull; Predicción 3 - 3 :&ensp; &ensp; 2 puntos. 	Se acertó goles de un equipo.<br />

                &bull; Predicción 0 - 0 :&ensp; &ensp; 0 punto. 	No hay ningún acierto.<br />

                <br />
                <br />

                En el caso de empate en cantidad de puntos, el sistema desempatará según la cantidad de resultados exactos (12 puntos) y en caso de continuar el empate por mayor cantidad de resultados de 7 puntos y así sucesivamente. En caso de persistir el empate, será decisión de la empresa el proceso de desempate/premiación.


            </strong>
        </div>
    </div>

</div>

<br />