/* AJUSTES RESPONSIVE */
img.responsive {
    max-width: 100%;
    height: auto;
}

.noticias .contenido img {
    max-width: 100%;
    height: auto;
}

.modal-usuario .blocks {
    padding-left: 5px;
    padding-right: 5px;
}

.top-nav .menu-mobile {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

    .top-nav .menu-mobile ul {
        width: 182px;
        position: absolute;
        left: -50%;
        top: -10px;
        background: #99bf2a;
        z-index: 1000;
        margin: 0;
        padding: 80px 13px 10px;
        z-index: 100;
        opacity: 0;
        transition: all .5s ease 0s;
        -webkit-transition: all .5s ease 0s;
        -moz-transition: all .5s ease 0s;
    }

    .top-nav .menu-mobile.opened {
        display: block;
    }

        .top-nav .menu-mobile.opened ul {
            opacity: 1;
            left: 0;
            display: block;
        }

            .top-nav .menu-mobile.opened ul a {
                padding-left: 45px;
            }

            .top-nav .menu-mobile.opened ul li {
                margin-left: -40px;
            }

    .top-nav .menu-mobile .overlay {
        content: ' ';
        position: fixed;
        z-index: 10;
        background-color: rgba(0, 0, 0, .6);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .top-nav .menu-mobile .close {
        top: 48px;
        left: 10px;
        position: absolute;
    }

    .top-nav .menu-mobile li {
        display: block;
        clear: both;
    }

.icon-menu,
.link-menu-mobile {
    display: none;
}

#carousel-banner-home-responsive {
    display: none;
}

footer .elementos {
    display: flex;
    align-items: center;
}

.lista-partidos .prediccion-mobile {
    display: none;
}

/* ################################################################################################################### */
/* ################################################################################################################### */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .text-lg-center {
        text-align: center;
    }

    .footer .menu li a {
        padding: 8px 12px;
    }

    .top-nav .instance-logo {
        padding-right: 15px;
    }

    .top-nav .menu li a {
        font-size: .9rem;
    }
}

/* ################################################################################################################### */
/* ################################################################################################################### */
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .text-sm-center {
        text-align: center;
    }

    .footer .menu {
        float: none !important;
        margin: 0;
    }

    .footer .copy {
        margin-top: 30px;
    }

    .banner-home img {
        max-width: 100%;
    }

    .login-container {
        padding-top: 30px;
    }

    .container {
        width: 100%;
    }

    .first-content {
        padding-top: 145px;
    }

        .first-content.login-container {
            padding-top: 35px !important;
        }

    .lista-partidos .prediccion a {
        padding-left: 1.5rem;
    }

        .lista-partidos .prediccion a .text {
            padding: 5px 0;
        }

    .footer .tp-logo {
        margin: 0 auto;
        float: none;
        margin-top: -130px;
        margin-bottom: 54px;
    }

    .instance-logo {
        padding-left: 10px !important;
    }

    footer .logo {
        max-width: 150px;
    }

    .lista-partidos.lista-partidos-final .equipos .row .col {
        font-size: 1.2rem;
    }
}

/* ################################################################################################################### */
/* ################################################################################################################### */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    footer .elementos {
        display: block;
    }

    #carousel-banner-home-responsive {
        display: block;
    }

    #carousel-banner-home {
        display: none;
    }

    h3 {
        font-size: 20px;
    }

    .first-content {
        padding-top: 120px;
    }

        .first-content.login-container {
            padding-top: 35px !important;
        }

    .text-xs-center {
        text-align: center;
    }

    .instance-logo img {
        max-width: 120px;
    }

    .top-nav .menu {
        display: none;
    }

    .top-nav .instance-logo {
        padding-top: 16px;
        text-align: left;
        width: 100%;
    }

    .divisor-left {
        background-image: none;
    }

    .sidebar .leaderboard {
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-trivia {
        padding-top: 4px;
    }

    .invitacion .logos,
    .login-container .logos {
        max-height: 224px;
    }

    .premios .premio {
        margin-bottom: 20px;
    }

        .premios .premio img {
            max-width: 200px;
        }

    .premios img.medalla {
        max-width: 150px;
    }

    .premios h2 {
        font-size: 1.5rem;
    }

    .premios-container .premios img.medalla {
        max-width: 60px;
    }

    .sidebar .premios .premio img {
        max-width: 140px;
        margin-right: 15px;
    }

    .perfil-container .avatar {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .perfil-container h2 {
        font-size: 2rem;
        text-align: center;
    }

        .perfil-container h2 .grupo {
            margin-left: 0;
            clear: both;
            display: block;
        }

    .perfil-container .info {
        padding-left: 0;
    }

    .perfil-container h2 .grupo span {
        clear: both;
        border-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .perfil-container .info .item {
        margin-bottom: 15px;
    }

    .modal-usuario .extra-data {
        padding-left: 0;
    }

    .modal-usuario .blocks {
        margin-top: 15px;
    }

    .avatares .avatar {
        width: 65px !important;
    }

    .invitacion .logos.instance-logo img,
    .login-container .logos.instance-logo img {
        /*width: 100%;*/
        max-width: 100%;
        max-height: 224px;
    }

    .icon-menu {
        font-size: 1.2rem;
        display: inline-block;
        position: absolute;
        left: -5px;
        top: 50%;
        margin-top: -18px;
        padding: 10px;
    }

    .top-nav .instance-logo .link-menu-mobile {
        display: inline-block;
    }

    .top-nav .instance-logo .logo {
        display: none;
    }

    .top-nav .instance-logo img {
        margin-left: 10px;
    }

    .lista-partidos .prediccion .block {
        padding-left: 1.2rem;
    }

    .lista-partidos .equipos .row .col {
        font-size: 1.1rem;
    }

    .lista-partidos-llaves .equipos .row > div {
        font-size: .8rem;
    }

    .lista-partidos-llaves .partido-left .partido > div {
        margin: 0;
        padding: 5px 0 !important;
        width: auto !important;
    }

    .lista-partidos-llaves .partido-right .partido > div {
        margin: 0;
        padding: 5px 0 !important;
        width: auto !important;
    }

    .nav-profile {
        padding: 10px 19px;
    }

    .add-home-banner {
        right: 8px;
        left: 8px;
        min-width: auto;
        border-radius: 4px;
        text-align: center;
    }

        .add-home-banner.show {
            bottom: 8px;
        }

        .add-home-banner .desktop {
            display: none;
        }

        .add-home-banner .mobile {
            display: block;
        }

        .add-home-banner h4 {
            text-align: center;
        }

    .modal-usuario .blocks {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ################################################################################################################### */
/* ################################################################################################################### */
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .form-horizontal .control-label,
    .form-horizontal .radio,
    .form-horizontal .checkbox,
    .form-horizontal .radio-inline,
    .form-horizontal .checkbox-inline {
        width: 100%;
        text-align: center;
    }

    .top-nav .instance-logo img {
        max-width: 100%;
    }

    .nav-profile {
        padding: 23px 16px;
    }

        .nav-profile .puntajes {
            padding-left: 60px;
        }

        .nav-profile .position,
        .nav-profile .puntaje {
            width: auto;
            min-width: 50%;
            margin: 0;
        }

        .nav-profile .grupo span {
            line-height: 1;
            margin: 0 1px;
        }

        .nav-profile .position span,
        .nav-profile .puntaje span {
            padding: 0;
            margin: 1px;
            float: none;
            font-size: 1.2rem;
            letter-spacing: -1px;
            border: 0;
            background-color: rgba(255, 255, 255, .3);
            line-height: 1.25;
        }

        .nav-profile:hover .position span,
        .nav-profile:hover .puntaje span {
            border: 0;
        }

        .nav-profile .menu-perfil {
            top: 2rem;
            left: -1rem;
        }

        .nav-profile .avatar {
            margin: -6px 0;
            width: 60px;
            height: 50px;
        }

    .top-nav .instance-logo {
        padding-top: 7px;
    }

    .nav-profile div.text {
        display: none;
    }

    .noticias h2 {
        font-size: 1.8em;
    }

    .lista-partidos .flag {
        display: none;
    }
    /*Tamaño de letra movil*/
    .lista-partidos .equipos .row .col {
        font-size: .8rem;
    }

    .lista-partidos .equipos .row:before {
        width: 1.35rem;
        left: -1.3rem;
    }

    .lista-partidos .equipos .row:after {
        width: 1.35rem;
        right: -1.3rem;
    }

    .lista-partidos .time,
    .lista-partidos .partido.predicho.jugado .time {
        padding-top: 1.5rem;
        padding-right: 1.3rem !important;
    }

    .lista-partidos .prediccion a {
        flex-direction: row;
        align-items: center;
        padding: 0 5px;
        align-items: start;
        font-size: .8rem;
    }

    .lista-partidos .time,
    .lista-partidos .prediccion {
        width: 50%;
        padding: 5px 5px 0 5px !important;
        font-size: 1.1rem;
    }

    .lista-partidos .prediccion {
        display: none;
    }

    .lista-partidos .prediccion-mobile {
        display: block;
    }

    .lista-partidos .equipos {
        width: 90%;
        margin: 0 5%;
    }

    .lista-partidos .partido {
        margin-bottom: 15px;
    }

    .modal-prediccion span.flag {
        margin: 0 auto;
        display: block;
    }

    .modal-prediccion h2 {
        font-size: 1.2rem;
        flex-direction: column;
        text-align: center;
    }

    .modal-prediccion .counters {
        padding: 0;
    }

    .modal-prediccion .counter {
        margin-left: 5px;
    }

        .modal-prediccion .counter:first-child {
            margin-right: 5px;
        }

    .modal-prediccion .equipo:first-child {
        justify-content: center;
    }

        .modal-prediccion .equipo:first-child h2 {
            flex-direction: column-reverse;
        }

    .modal .modal-footer .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .perfil-container .avatar {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-usuario h1 {
        font-size: 1.7rem;
    }

    .modal-usuario hr {
        margin: 10px 0 8px;
    }

    .modal-usuario .avatar {
        width: 150px;
        height: 126px;
    }
}

/* ################################################################################################################### */
/* ################################################################################################################### */
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
